html {
    height: 100%;    
}

body {
    height: 100%;
}

h1 {
    text-align: center;
}

.red {
    width: 400px;
    height: 900px;
}

.contactCardBackground {
    background-image:linear-gradient(45deg, red, gray);
    width: 400px;
    height: 900px;
}

.cardImage {
    background-image: url('../Images/contact_card_photo.jpg');
    background-size: cover;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    position: relative;
    top: 100px;
}

#nameBox {
    font-family: 'Lucida Handwriting';
    text-align: center;
    position: relative;
    top: 200px;
    color: a9a9a9;
    font-size: 35px;
}

.logoBox {
    background-color: rgba(255,255,255,0.3);
    width: 350px;
    height: 300px;
    position: relative;
    top: 245px;
    border-radius: 10%;
}

.row {
    height: 50%;
}

.col-6 {
    text-align: center;
    vertical-align: middle;
    margin: auto
}

.img {
    margin: auto;
}

.siteTop {
    position: relative;
    height: 75px;
    background-color: #4d4dff;
    text-align: right;
    color: black;
}

.bottomBar {
    position: relative;
    height: 100px;
    background-color: #4d4dff;
    text-align: center;
    font-size: 20px;
}

.aboveTheFoldRight {
    position: relative;
    background-image: url('../Images/programming.jpg');
}

.aboveTheFoldLeft {
    text-align: center;
    position: relative;
    background-color: #cccccc;
    overflow-y: scroll;
}

#homeLink {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    top: 12px;
}

.navItem {
    color: black;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    right: 100px;
    display: inline-block;
}

#aboveFoldHeader {
    font-family: 'Lucida Console';
    font-size: 50px;
}

#aboveFoldSubHeader {
    font-family: 'Lucida Console';
    font-size: 30px;
}

.siteIntro {
    font-size: 12px;
    padding: 0px;
    position: relative;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.project {
    padding: 1%;
    background-color: rgb(175, 175, 175);
    text-align: center;
    margin: auto;
    border: solid 1px;
}

.project a {
    text-decoration: none;
    color: black
}

.project a:hover {
    text-decoration: underline;
}

.project-image {
    width: 50%;
    height: auto;
}

@media (min-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }

    .project {
        max-width: 48%;
    }
}

@media (min-width: 1024px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .project {
        max-width: 45%;
    }
}